<form class="type-form row" name="typeform">
  <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>

  <div class="type-name row col-lg-12">
    <label class="col-xs-3">Name:</label>
    <input class="col-xs-9"
           name="type-name" 
           data-ng-model="$ctrl.item.name" 
           ng-readonly="!$ctrl.authz.canUpdate"
           required="required"
           maxlength="40"
           pattern=".{3,}" title="3 character minimum for Name"/>
    <span class="invalid">{{$ctrl.item.errors.name}}</span>
  </div>

  <div class="type-things row col-lg-12">
    <label class="col-xs-3">Related Things:</label>
    <ul class="type-things col-xs-9">
      <li ng-repeat="tt in $ctrl.things | orderBy:'priority'">
        <input type="checkbox"               
               name="thing-delete"
               ng-model="tt.toRemove"
               ng-show="$ctrl.authz.canRemoveThing"
               value="{{tt.id}}">
        <div class="thing-delete glyphicon glyphicon-remove"
             ng-show="tt.toRemove"></div>
        <div class="glyphicon glyphicon-asterisk"
             ng-hide="tt.toRemove"></div>
        <a data-ui-sref="things({id:tt.thing_id})">
          <span class="id thing_id">{{tt.thing_id}}</span>
          <label class="thing-name"
                 ng-show="tt.thing_name">{{tt.thing_name}}</label>
        </a>
      </li>
    </ul>
    <span class="invalid">{{$ctrl.item.errors.things}}</span>
  </div>

  <div class="type-controls"
       ng-show="$ctrl.authz.authenticated">
    <button ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
            name="type-create"
            ng-disabled="typeform.$invalid"
            type="submit"
            ng-click="$ctrl.create()">Create Type</button>

    <div ng-show="$ctrl.item.id">
      <span class="type-modify"
            data-ng-hide="!$ctrl.authz.canUpdate &&
                          !$ctrl.authz.canUpdateThing &&
                          !$ctrl.authz.canRemoveThing">
        <button name="type-update"
                type="submit"          
                ng-disabled="typeform.$invalid || !typeform.$dirty"
                data-ng-hide="$ctrl.haveDirtyLinks() &&
                  (!typeform['type-name'].$dirty && 
                   !typeform['type-desc'].$dirty && 
                   !typeform['type-notes'].$dirty)"
                ng-click="$ctrl.update()">Update Type</button>
        <button name="type-things-update"
                type="submit"          
                 cvvc
                data-ng-show="$ctrl.haveDirtyLinks() &&
                  (!typeform['type-name'].$dirty && 
                   !typeform['type-desc'].$dirty && 
                   !typeform['type-notes'].$dirty)"
                ng-click="$ctrl.updateThingLinks()">Update Thing Links</button>        
      </span>

      <button name="type-delete"
              type="submit"
              ng-show="$ctrl.authz.canDelete" 
              ng-click="$ctrl.remove()">Delete Type</button>
      <button name="type-clear"
              type="submit"
              ng-click="$ctrl.clear()">Clear Type</button>
    </div>
  </div>
</form>
